@media only screen and (min-width: 768px) {
  .separator {
    content: '';
    border-top: 1px solid  rgb(224, 224, 224);
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .separator {
    content: '';
    border-top: 1px solid  rgb(224, 224, 224);
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
