@media only screen and (min-width: 768px) {
  .location-container {
    width: 1200px;
    margin: 30px auto;
    padding: 0 20px 0 20px;
    box-sizing: border-box;

    .location-title-helper {
      color: #3065b5;
      font-size: 16px;
      cursor: pointer;
    }

    .location-title {
      font-size: 24px;
      //font-weight: 600;
    }

    .location-content {
      margin-top: 20px;
      width: 1050px;
      height: 600px;
      cursor: pointer;
      border: 1px solid rgb(224, 224, 224);

      img {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
