@media only screen and (min-width: 768px) {

  .gallery-container {
    width: 1200px;
    margin: 40px auto;
    box-sizing: border-box;
    padding-left: 20px;
    //padding: 0 20px;

    .gallery-title-wrapper {
      //text-align: center;

        .gallery-title-helper {
          color: #3065b5;
        }
        .gallery-title {
          //font-weight: 600;
          font-size: 24px;
        }
    }

  }



  .gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery-item {
    //width: calc(33.3% - 30px);
    width: 368px;
    height: 225px;
    padding: 30px  15px 0  15px;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 15px;
    }
  }

  .gallery-item:nth-of-type(3n+1) {
    padding: 30px  15px 0  0;
  }

}

@media only screen and (max-width: 768px) {
    .gallery-container {

        height: 500px;
        padding: 0 10px;
        overflow: hidden;
        margin-top: 24px;

        .gallery-title-wrapper {
          //text-align: center;

          .gallery-title-helper {
            color: #3065b5;
          }
          .gallery-title {
            //font-weight: 600;
            font-size: 24px;
          }
        }

        .gallery-wrapper {
            display: flex;
            align-items: center;
            position: relative;
            //overflow: hidden;

            .gallery-item {

                width: 400px;
                height: 400px;
                margin: 0 16px;

                img {
                    width: 400px;
                    height: 400px;
                    margin: 0 16px;
                }
            }
        }


    }
}
