
@media only screen and (min-width: 768px) {

  .about-doctor-container {
      width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
      box-sizing: border-box;


      .about-doctor-title-wrapper {
        margin-bottom: 16px;
          .about-doctor-title {
            font-size: 24px;
            font-weight: 400;
          }
      }

      .about-doctor-content {
          display: flex;
          align-items: flex-start;
        .about-doctor-intro-wrapper {
            width: 50%;

            .about-doctor-intro-title {
                font-size: 20px;
                margin-bottom: 16px;
                font-weight: 500;
            }

            .about-doctor-description {
              margin-right: 24px;
              word-break: break-word;
              line-height: 1.8;
            }

        }

        .about-doctor-intro-images {
            height: 400px;
            width: 50%;
            padding: 8px;

            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;


            img {
              width: 142%;
              //height: 100%;
              object-fit: cover;
            }
        }

      }
  }



}

@media only screen and (max-width: 768px) {
    .about-doctor-container {
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: border-box;


        .about-doctor-title-wrapper {

            .about-doctor-title {
              font-size: 24px;
            }


        }

        .about-doctor-content {
            display: flex;
            flex-direction: column-reverse;
            border: 1px solid rgb(224, 224, 224);

            .about-doctor-intro-wrapper {
              padding-left: 4px;
              padding-bottom: 4px;

              .about-doctor-intro-title {
                  font-size: 16px;
                  font-weight: 600;
                  padding: 0 0 8px 0;
                }

              .about-doctor-description {
                font-size: 13px;
              }

            }

            .about-doctor-intro-images {
                img {
                  width: 100%;
                  height: 100%;
                }
            }

        }
    }
}
