

.top-menu-container {

    //position: relative;
    background-color: #4575bd;
    position: sticky;
    top: 0;
    z-index: 1;


  .top-menu-helper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1200px;
      margin: 0 auto;
      padding: 0px 10px;
      box-sizing: border-box;
      color: #ffffff;
      //position: fixed;


      .top-menu-left {
        display: flex;
        align-items: center;

        .just-dail {
          font-size: 24px;
          font-weight: 700;
          cursor: pointer;
        }


        .number {
          margin-left: 16px;
          font-size: 18px;
          display: flex;
          align-items: center;
          i {
            margin-right: 8px;
          }
          //font-weight: 700;
        }
      }
      .top-menu-right {
        display: flex;
        cursor: pointer;
        align-items: center;
        i {
          margin-right: 8px;
        }
      }

    }

    .top-menu {
      width: 1200px;
      margin: 0 auto;
      padding: 20px 10px;
      box-sizing: border-box;

      display: flex;

        .hospital-title-wrapper {
          width: 40%;
          font-size: 24px;
          font-weight: 600;
          color: #ffffff;
        }

        .menu-items-wrapper {
          width: 60%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #ffffff;
          font-weight: 600;
        }

    }
}
