@media only screen and (min-width: 768px) {
  .partners-container {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .partners-title-wrapper {

    .partners-title {
      font-size: 24px;
    }
  }

  .partners-content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: flex-start;

    //flex-wrap: wrap;

    //animation: 4s linear 0s infinite normal none running partner-animation;

    .partners-content-item {
      width: 160px;
      padding: 15px 30px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

}


@media only screen and (max-width: 768px) {

  .partners-container {
    padding: 0 10px;
  }

  .partners-content {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: flex-start;
  }

  .partners-content-item {
    width: 100px;
    padding: 15px 10px;
    img {
      width: 100%;
      height: 100%;
    }
  }

}


@keyframes partner-animation {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-1200px);
  }
}
