@media only screen and (min-width: 768px) {
  .partners-container {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .partners-title-wrapper {

    .partners-title {
      font-size: 24px;
    }
  }

  .partners-content {
    display: flex;
    overflow: hidden;
    //flex-wrap: wrap;

    .partners-content-item {
      width: 20%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

}

